<a href="https://colab.research.google.com/github/Deffo0/College_assignments/blob/main/Statistics_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statistics Lab2

## Imports

In [59]:
import numpy as np
import pandas as pd 
from sklearn import datasets
from scipy.stats import chi2_contingency, chi2
import math

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package scipy.stats
E: Couldn't find any package by glob 'scipy.stats'
E: Couldn't find any package by regex 'scipy.stats'

ImportError: ignored

## Data Loading

In [2]:
def load_iris():
    """
    Loads Iris dataset
    
    Returns:
    iris (optional datatype): the Iris dataset
    """
    iris = datasets.load_iris()
    return iris

## Data Representation

In [3]:
def represent_data(iris):
    """
    Represents the data in a tabular form with column names as specified
    
    Parameters:
    iris (optional datatype): the Iris dataset in row format
    
    Returns:
    data (pandas dataframe): the new form of Iris as customized table
    """
    #The column names of the new table
    col_names = ['sepal length', 'sepal width', 'petal length', 'petal width', 'species']
    #Constructing the new table
    data = pd.DataFrame(data=np.c_[iris['data'], iris['target']],
                        columns=col_names)
    print('Samples from the Data:')
    display(data)
    return data

## Contingency Table

In [4]:
def calculate_chi2_value(freq_table, expected_table):
    """
    Calculates the chi2 square value using both the observed and expected tables
    
    Parameters:
    freq_table (pandas dataframe): The table of observed count of each combination
    expected_table (pandas dataframe): The table of expected value for each cell 
    
    Returns:
    chi2_value (float): The value resulted from the summation of chi square independence test
    """
    chi2_value = 0.0
    freq = freq_table.to_numpy()
    exp = expected_table.to_numpy()
    for i in range(0, len(freq_table)):
      for j in range(0, len(freq_table.columns)):
       chi2_value = chi2_value + (pow((freq[i,j] - exp[i,j]),2))/(exp[i,j])
            
    return chi2_value

In [60]:
def calculate_p_value(chi2_value, df):
    """
    Calculates the probability p-value where P{chi > chi2_value} = p-value
    
    Parameters:
    chi2_value (float): The value resulted from the summation of chi square independence test
    df (int): The degrees of freedom of the resulted distribution
    
    Returns:
    p_value (float): The probability of the resulted chi2_value
    """
    p_value = chi2.sf(chi2_value,df)
    return (p_value)

In [36]:
def tabulate(data, label1, label2):
    """
    Constructs the contingency table of the dataset with respect to the given labels
    
    Parameters:
    data (pandas dataframe): Raw data to extract the two columns from
    label1 (string): The name of the 1st column
    label2 (string): The name of the 2nd column
    
    Returns:
    freq_table (pandas dataframe): The table of observed count of each combination
    chi2_value (float): The summed value from the independence test
    p_value (float): The probability of the resulted chi2_value
    df (int): The degrees of freedom of the resulted distribution
    expected_table: The corresponding table of the observed table
    """
    arr1 = data[label1]
    arr2 = data[label2]
    wanted_data = data[[label1,label2]]
  #---------------------------------------------
    freq_table = freq_table = pd.crosstab(arr1,arr2)
  #---------------------------------------------
    
    df = (len(freq_table)-1)*(len(freq_table.columns)-1)
  #---------------------------------------------
    row_sum=freq_table.sum(axis=1).to_numpy()
    col_sum=freq_table.sum(axis=0).to_numpy()
    total = sum(row_sum)
    exp_t = [[0]*len(freq_table.columns)]*len(freq_table)
    for a in range(0,len(freq_table)):
      for b in range(0,len(freq_table.columns)):
        exp_t[a][b]=(row_sum[a]*col_sum[b])/total

    expected_table = pd.DataFrame(data=exp_t)
    
    chi2_value = calculate_chi2_value(freq_table, expected_table)
    
    p_value = calculate_p_value(chi2_value, df)
    



    print('The observed tabel:')
    display(freq_table)
    
    return freq_table, chi2_value, p_value, df, expected_table

## Work Assertion

In [63]:
def assert_results(freq_table, chi2_value, p_value, df, expected_table):
    good = True
    
    stat, p, dof, expected = chi2_contingency(freq_table)
    
    #Check the expected values
    exp = expected_table.to_numpy()
    for i in range(0,len(expected_table)):
      for j in range(0,len(expected_table.columns)):
         if(abs(expected[i][j] - exp[i][j])<0.001):
            good = True
         else:
            good = False
         
    #Check the statistic value
    if(abs(stat - chi2_value)<0.001):
        good = True
    else:
        good = False
    
    #Check the degrees of freedom
    if((dof - df)==0):
        good = True
    else:
        good = False
        
    #Check the p-value
    if(abs(p - p_value)<1**-10):
        good = True
    else:
        good = False
        
    return good

## Driver Code

In [64]:
#Loading the dataset
iris = load_iris()

#Tabulating the raw data
data = represent_data(iris)

#Define the level of significance
alpha = 0.1

col_names = data.columns
n = len(col_names)
#Traverse the features except the target label
for j in range(0, n-1):
    print('Working on the target label(species) vs. ' + col_names[j])
    
    #Apply the independence test
    freq_table, chi2_value, p_value, df, expected_table = tabulate(data, 'species', col_names[j])
    print('\t-chi square sum: ' + str(chi2_value))
    print('\t-p-value: ' + str(p_value))
    print('\t-degrees of freedom: ' + str(df))
    
    #Check the results
    good = assert_results(freq_table, chi2_value, p_value, df, expected_table)
    
    print('\t-Are these results correct? --- ' + str(good))
    if p_value < alpha:
        print('\t-The target label is dependent on the feature: ' + col_names[j])
    else:
        print('\t-The target label: is independent of the label: ' + col_names[j])
    print('\n')

Samples from the Data:

     sepal length  sepal width  petal length  petal width  species
0             5.1          3.5           1.4          0.2      0.0
1             4.9          3.0           1.4          0.2      0.0
2             4.7          3.2           1.3          0.2      0.0
3             4.6          3.1           1.5          0.2      0.0
4             5.0          3.6           1.4          0.2      0.0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3      2.0
146           6.3          2.5           5.0          1.9      2.0
147           6.5          3.0           5.2          2.0      2.0
148           6.2          3.4           5.4          2.3      2.0
149           5.9          3.0           5.1          1.8      2.0

[150 rows x 5 columns]

Working on the target label(species) vs. sepal length
The observed tabel:

sepal length  4.3  4.4  4.5  4.6  4.7  4.8  ...  7.2  7.3  7.4  7.6  7.7  7.9
species                                     ...
0.0             1    3    1    4    2    5  ...    0    0    0    0    0    0
1.0             0    0    0    0    0    0  ...    0    0    0    0    0    0
2.0             0    0    0    0    0    0  ...    3    1    1    1    4    1

[3 rows x 35 columns]

	-chi square sum: 156.2666666666666
	-p-value: 6.665987344005572e-09
	-degrees of freedom: 68
	-Are these results correct? --- True
	-The target label is dependent on the feature: sepal length


Working on the target label(species) vs. sepal width
The observed tabel:

sepal width  2.0  2.2  2.3  2.4  2.5  2.6  ...  3.8  3.9  4.0  4.1  4.2  4.4
species                                    ...
0.0            0    0    1    0    0    0  ...    4    2    1    1    1    1
1.0            1    2    3    3    4    3  ...    0    0    0    0    0    0
2.0            0    1    0    0    4    2  ...    2    0    0    0    0    0

[3 rows x 23 columns]

	-chi square sum: 89.546287046287
	-p-value: 6.016031482207205e-05
	-degrees of freedom: 44
	-Are these results correct? --- True
	-The target label is dependent on the feature: sepal width


Working on the target label(species) vs. petal length
The observed tabel:

petal length  1.0  1.1  1.2  1.3  1.4  1.5  ...  6.1  6.3  6.4  6.6  6.7  6.9
species                                     ...
0.0             1    1    2    7   13   13  ...    0    0    0    0    0    0
1.0             0    0    0    0    0    0  ...    0    0    0    0    0    0
2.0             0    0    0    0    0    0  ...    3    1    1    1    2    1

[3 rows x 43 columns]

	-chi square sum: 271.79999999999995
	-p-value: 1.1775672327529825e-21
	-degrees of freedom: 84
	-Are these results correct? --- True
	-The target label is dependent on the feature: petal length


Working on the target label(species) vs. petal width
The observed tabel:

petal width  0.1  0.2  0.3  0.4  0.5  0.6  ...  2.0  2.1  2.2  2.3  2.4  2.5
species                                    ...
0.0            5   29    7    7    1    1  ...    0    0    0    0    0    0
1.0            0    0    0    0    0    0  ...    0    0    0    0    0    0
2.0            0    0    0    0    0    0  ...    6    6    3    8    3    3

[3 rows x 22 columns]

	-chi square sum: 271.75
	-p-value: 2.1648103108815957e-35
	-degrees of freedom: 42
	-Are these results correct? --- True
	-The target label is dependent on the feature: petal width